karabiner/.config/karabiner/automatic_backups
hammerspoon/.hammerspoon/.settings.json
hammerspoon/.hammerspoon/Spoons/EmmyLua.spoon
hammerspoon/.hammerspoon/Spoons/ReloadConfiguration.spoon
Brewfile.lock.json
fish/.config/fish/fish_variables
fish/.config/fish/completions
fish/.config/fish/conf.d
fish/.config/fish/functions
!fish/.config/fish/functions/my_*.fish
vim/.vim/swaps
ssh/.ssh/known_hosts*
ssh/.ssh/asap
direnv/.config/direnv/lib
.beads/
