karabiner/.config/karabiner/automatic_backups
hammerspoon/.hammerspoon/Spoons/
Brewfile.lock.json
fish/.config/fish/fish_variables
fish/.config/fish/completions
fish/.config/fish/conf.d
fish/.config/fish/functions
vim/.vim/swaps
ssh/.ssh/known_hosts*
ssh/.ssh/asap
direnv/.config/direnv/lib
